<div class="row entity" data-type="cars" data-id="{{ car.id }}">
    <span>{{ car.id }}</span>
    <span class="editable" data-field='registration_nb'>{{ car.registration_nb }}</span>
    <span class="editable" data-field='fuel_tank'>{{ car.fuel_tank }}</span>
    <span class="editable" data-field='adblue_tank'>{{ car.adblue_tank }}</span>
</div>