<div class='row entity' data-type="deliveries" data-id="{{ delivery.id }}">
    <span>{{ delivery.id }}</span>
    <span class='editable' data-field='id_car'>{{ delivery.registration_nb }}</span>
    <span class='editable' data-field='id_driver'>{{ delivery.name }}</span>
    <span class="editable date-input" data-field="start_date">{{ delivery.start_date }}</span>
    <span class="editable date-input" data-field="end_date">{{ delivery.end_date }}</span>
    <span class="editable" data-field="route_length">{{ delivery.route_length }}</span>
    <span class="editable" data-field="optimal_route_length">{{ delivery.optimal_route_length }}</span>
    <span class="editable" data-field="optimal_fuel_consumption">{{ delivery.optimal_fuel_consumption }}</span>
    <span>{{ delivery.consumedFuel }}</span>
    <span>{{ delivery.spalanieD100 }}</span>
    <span>{{ delivery.spalanieP100 }}</span>
    <span>{{ delivery.difference }}</span>
</div>