<div class='row entity' data-type="truck_drivers" data-id="{{ driver.id }}">
    <span>
        {{ driver.id }}
    </span>
    <span data-field='name'>{{ driver.name }}</span>
    <span class="editable" data-field='active'>{{ driver.active }}</span>
    <span class="editable date-input" data-field='settlement_date'>{{ driver.settlement_date }}</span>
</div>