<div class="row entity" data-type="fuel_purchases" data-id="{{ purchase.id }}">
    <span>{{ purchase.id }}</span>
    <span class="editable" data-field="supplier">{{ purchase.supplier }}</span>
    <span class="editable" data-field="document_number">{{ purchase.document_number }}</span>
    <span class="editable" data-field="fuel_qty">{{ purchase.fuel_qty }}</span>
    <span class="editable" data-field="adblue_qty">{{ purchase.adblue_qty }}</span>
    <span class="editable date-input" data-field="date">{{ purchase.date }}</span>
</div>