<div class='row entity' data-type="fuel_releases" data-id="{{ release.id }}">
    <span>{{ release.id }}</span>
    <span class='editable' data-field='id_car'>{{ release.registration_nb }}</span>
    <span class="editable" data-field='released_fuel_qty'>{{ release.released_fuel_qty }}</span>
    <span class="editable" data-field='released_adblue_qty'>{{ release.released_adblue_qty }}</span>
    <span class="editable" data-field='released_ref_qty'>{{ release.released_ref_qty }}</span>
    <span class="editable date-input" data-field='date'>{{ release.date }}</span>
    <span class="editable" data-field='type'>{{ release.type }}</span>
</div>